@import "src/variables";

.wrapper {
  position: relative;
}

.input {

}

.suggestions {
  width: 250px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, 100%);
  display: flex;
  flex-direction: column;
  border-top: 1px solid $dark;
  border-left: 1px solid $dark;
  border-right: 1px solid $dark;
}

.suggestion {
  padding: 0;
  cursor: pointer;
  background-color: $dark-white;
  border: none;
  border-bottom: 1px solid $dark;

  &:hover {
    background-color: rgba($dark, .1);
  }
}
